# LAMMPS executable
lmp
lmp_*
src/lmp_*

# Compiled Object files
*.o
*.slo
*.lo
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Build directories
build/
cmake-build*/
src/Obj_mpi
src/Makefile.package
src/Makefile.package.settings
src/lmpgitversion.h
src/lmpinstalledpkgs.h
src/style_angle.h
src/style_atom.h
src/style_body.h
src/style_bond.h
src/style_command.h
src/style_compute.h
src/style_dihedral.h
src/style_dump.h
src/style_fix.h
src/style_gran_sub_mod.h
src/style_improper.h
src/style_integrate.h
src/style_kspace.h
src/style_minimize.h
src/style_nbin.h
src/style_npair.h
src/style_nstencil.h
src/style_ntopo.h
src/style_pair.h
src/style_reader.h
src/style_region.h
src/packages_angle.h
src/packages_atom.h
src/packages_body.h
src/packages_bond.h
src/packages_command.h
src/packages_compute.h
src/packages_dihedral.h
src/packages_dump.h
src/packages_fix.h
src/packages_gran_sub_mod.h
src/packages_improper.h
src/packages_integrate.h
src/packages_kspace.h
src/packages_minimize.h
src/packages_nbin.h
src/packages_npair.h
src/packages_nstencil.h
src/packages_ntopo.h
src/packages_pair.h
src/packages_reader.h
src/packages_region.h



# Output files
*.dump
*.log
*.data
restart.*